/* Reset */
  *,
  *::after,
  *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
/* Reset */

/* General */
body{
  font-family: 'Lato', sans-serif;
}

p{
  font-size: 1em;
}

small{
  font-size: .7em;
}

input{
  background-color: #ffffff;
  outline: none;
  border: none;
  padding: 5px;
}

/* General */

.contact .topbar{
  justify-content: space-between;
  align-items: center;
}

/* Notification-setup */
.bell{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2fbff;
  color: #8edafc;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-right: 15px;
  flex-shrink: 0;
}

.setup-text p{
  color: #253b4c;
  margin-bottom: .5em;
}

.setup-text a{
  font-size: 0.8em;
  text-decoration: underline;
  color: #676767;
}
/* Notification-setup */

/* Search area */

.search-icon{
  background-color: #ffffff;
  width: 50px;
  color: #b1b1b1;
  cursor: pointer;
}

.search input{
  width: calc(100% - 50px);
}
/* Search area */

/* Contanctlist */
.info-text{
  margin-left: 10px;
}
/* Contanctlist */

/* Chat topbar */
  .chat .topbar{
    justify-content: space-between;
  }
/* Chat topbar */

/* Mainchat */
.mainchat{
  padding: 30px 50px;
  flex-direction: column;
  display: none;
}

.sent, .received{
  border-radius: 10px;
  width: 40%;
  min-width: 300px;
  padding: 15px;
  margin-bottom: 10px;
  color: #676767;
}

.received{
  background-color: #ffffff;
}

.sent{
  align-self: flex-end;
  background-color: #d5f9ba;
}

.mainchat small{
  float: right;
  padding-top: 5px;
  font-size: .5em
}


/* Mainchat */

/* Input-area */
.input-area input{
  width: 85%;
  height: 40px;
  padding: 10px;
}
/* Input-area */